/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2024-05-07 08:51:03 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

body {
    line-height: 25px;
    letter-spacing: 0;
}
p,li {
    letter-spacing: 0;
    line-height: 25px;
}
@media (min-width: 1440px) {
.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container,.layout-1220 .container {
    max-width: 1236px;
}
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 32px 0;
}
h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 32px 0;
}
h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
}
html .action.primary, html .btn {
    padding: 0.533rem 0.933rem;
    font-size: 0.8rem;
    line-height: 1.42857;
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s,transform 0.2s;
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
.vc_btn3.vc_btn3-shape-rounded {
    border-radius: .5em;
}
html .action.primary,html .btn.btn-primary {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
}
html .action.primary:hover,.btn-primary:hover {
    color: var(--button-text-hover-color);
    background-color: var(--button-bg-hover-color);
    border-color: var(--button-border-hover-color);
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .btn-borders {
    border-width: 2px;
    background: transparent;
    padding: 0.483rem 1.0625rem;
}
.btn-borders.btn-light {
    border-color: #fff;
    color: #fff;
}
.btn-borders.btn-light:active, .btn-borders.btn-light:focus, .btn-borders.btn-light:hover {
    background-color: #fff;
    border-color: #fff;
    color: #212529;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
@media (min-width: 1256px) {
.pe-xl-5 {
    padding-right: 3rem !important;
}
}
.m-r-xl {
    margin-right: 40px!important;
}
.p-t-sm {
    padding-top: 10px!important;
}
.p-t-xxl {
    padding-top: 60px!important;
}
.p-b-xxl {
    padding-bottom: 60px!important;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.wel-msg i {
    font-size: 23.68px;
    color: #4dae65;
}
.main-panel-top {
    border-bottom: 1px solid #e7e7e7;
}
.page-header.type22 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .06);
}
.page-header.type22 .panel.wrapper {
    min-height: 56px;
}
.page-header.type22 .header.panel > .header.links > li {
    padding: 0 .5rem !important;
}
.page-header.type22 .main-panel-top .separator {
    height: 1.75rem;
    border-left-color: #dadcdd;
}
.page-header.type22 .main-panel-top .share-links {
    margin-left: 0 !important;
}
.rtl .page-header.type22 .main-panel-top .share-links {
    margin-right: 0 !important;
}
.page-header.type22 .main-panel-top .share-links a {
    margin: 0px 15px 0px 15px;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    box-shadow: none;
}
.page-header.type22 .main-panel-top .share-links a + a:after {
    content: '|';
    position: absolute;
    border-left: 1px solid #dadcdd;
    height: 1.75rem;
    top: 50%;
    left: -1rem;
    margin-left: -1px;
    margin-top: -.875rem;
}
.rtl .page-header.type22 .main-panel-top .share-links a + a:after {
    left: auto;
    right: -1rem;
    margin-left: 0;
    margin-right: -1px;
}
.page-header.type22 .minicart-wrapper .action-subtotal {
    display: none !important;
}
.page-header.type22 .header-contact .my-account i, .page-header.type22 .header-contact .wishlist i {
    font-size: 28px;
}
.page-header.type22 .minicart-wrapper .action.showcart .minicart-icon {
    font-size: 28px;
}
.main-toggle-menu {
    margin-right: 30px;
}
.rtl .main-toggle-menu {
    margin-right: 0;
    margin-left: 30px;
}
.main-toggle-menu:not(.closed):not(.show-hover):before {
    display: none;
}
.main-toggle-menu .menu-title {
    font-size: .875rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.8;
    letter-spacing: -.025em;
    padding: 10px 15px;
    padding-left: 0;
    padding-right: 0;
    color: #222529 !important;
    border: none;
    background: #fff !important;
}
.main-toggle-menu .menu-title .toggle {
    margin: 8px 10px 8px 0;
}
.rtl .main-toggle-menu .menu-title .toggle {
    margin: 8px 0 8px 10px;
}
.main-toggle-menu .menu-title.closed:not(:hover) {
    color: #222529 !important;
}
.main-toggle-menu .menu-title:after {
    right: -16px;
    font-size: 13px;
}
.rtl .main-toggle-menu .menu-title:after {
    right: auto;
    left: -16px;
    font-size: 13px;
}
.main-toggle-menu .toggle-menu-wrap {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 250px;
}
.second-menu-block {
    margin-left: 0 !important;
}
@media (min-width: 992px) {
.text-lg-end {
    text-align: right !important;
}
.text-lg-start {
    text-align: left !important;
}
.page-header.type22 .header-main .header-left, .page-header.type22 .header-main .header-right, .page-header.type22 .header-main .header-center {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.page-header.type22:not(.sticky-header) .header-bottom {
    border-top: none;
    border-bottom: none;
}
.page-header.type22 .header-main .header-right > * {
    margin-top: 0;
}
.page-header.type22 .logo {
    margin-right: 3rem;
}
.rtl .page-header.type22 .logo {
    margin-right: 0;
    margin-left: 3rem;
}
.page-header.type22 .search-area .block.block-search {
    box-shadow: none;
}
.page-header.type22 .search-area .block.block-search {
    max-width: 490px;
    margin-top: 0;
}
.rtl .page-header.type22 .search-area .block.block-search {
    padding-left: 0 !important;
}
.page-header.type22 .block-search input {
    height: 42px;
    padding-right: 200px;
}
.rtl .page-header.type22 .block-search input {
    padding-left: 200px;
    padding-right: 20px;
}
.page-header.type22 .search-category {
    height: 42px;
    line-height: 42px;
    right: 52px !important;
}
.rtl .page-header.type22 .search-category {
    right: auto !important;
    left: 52px !important;
}
.page-header.type22 .search-area .minisearch .actions button {
    width: 52px;
    height: 42px;
    line-height: 42px;
    background-color: #fff;
    color: #333333;
    border-radius: 0 5px 5px 0;
}

.page-header.type22 .custom-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.page-header.type22 .minicart-wrapper {
    margin-left: 0 !important;
}
.page-header.type22 .navigation:not(.side-megamenu) .level0 .level-top {
    font-weight: 600;
    color: #222529;
    padding: 20px 30px 20px 30px;
}
.page-header.type22 .navigation.side-megamenu li.level0 > a {
    font-weight: 600;
}
.page-header.type22 .navigation.side-megamenu li.level0 > a i {
    font-size: 14px;
}
i.size-lg {
    font-size: 1.2em !important;
}
}
@media (max-width: 991px) {
.page-header.type22 .header-contact > *:not(:first-child) {
    margin-left: .375rem;
}
.page-header.type22 .search-area.show-icon-tablet a.search-toggle-icon {
    font-size: 23px;
}
}
.page-wrapper > .breadcrumbs .items {
    position: relative;
    margin-bottom: 47px;
    padding-bottom: 13px;
    padding-top: 24px;
}
.page-wrapper > .breadcrumbs .items:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-bottom: 1px solid #e7e7e7;
}
html .background-color-secondary {
    background-color: #ff7272!important;
}
.footer, .footer p {
    letter-spacing: 0;
    font-size: 13px;
}
.footer .widgettitle, .footer .widget-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1;
    letter-spacing: -.025em;
}
.footer-top .custom-block:before,.footer-top .custom-block:after {
    margin-bottom: 0;
    border: none;
    margin-top: 0;
}
.footer-middle > .container {
    padding-top: 65px;
    padding-bottom: 14px;
}
.footer-middle > .container::after {
     border-color:rgba(225,225,225,0.1);
     margin-top: .625rem;
     position: static;
}
.footer-middle > .container > .row {
    align-items: center;
}
.footer-middle > .container > .row > div:not(:first-child) {
    align-self: flex-start;
}
.footer .follow-us .share-links a:not(:hover) {
    background: #fff;
    color: #222529;
}
.footer .block.newsletter .form.subscribe {
    display: block;
}
.footer .block.newsletter .field {
    margin-bottom: 1rem;
}
.footer .newsletter input {
    height: 48.59px;
    border: none;
    border-radius: 0;
    background: #292c30;
    padding-left: 1.5rem;
    font-size: .8125rem;
    border-radius: 30px;
}
.footer .newsletter .action.subscribe {
    height: 48px;
    border-radius: 30px;
    padding: 1.25em 4.2em 1.25em 4.2em;
    font-size: .8125rem;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: -0.325px;
    margin-left: -1px;
    border: none;
}
.footer .widget>div>ul li {
    margin-bottom: 0;
    line-height: 24px;
}
.footer .contact-info .contact-details strong {
    font-weight: 600;
    color: #888888;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.025em;
}
.footer .contact-info .contact-details span {
    padding-left: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.03em;
    color: #fff;
}
.footer .contact-info .contact-details span a {
    color: #fff;
}
.footer-bottom address {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}
.footer-bottom .widget.widget_custom_html {
    margin-bottom: 0;
}
.footer-bottom .custom-block.f-right, .footer-bottom address {
    padding-top: 0;
    padding-bottom: 0;
}
.footer-bottom {
    font-size: 1em;
    padding-bottom: 52px;
    padding-top: 0;
}